{namespace tw=Tx_CwTwitter_ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{tweets}">
		<f:then>
			<f:for each="{tweets}" as="tweet">
				<f:alias map="{tw_user: '{f:if(condition:tweet.retweeted_status,then:tweet.retweeted_status.user,else:tweet.user)}'}">
				<div class="cwtw-TweetWrap">
					<div class="cwtw-TweetAvatar">
						<img src="{tw_user.profile_image_url}" alt="{tw_user.name}" height="48" width="48" class="cwtw-TweetAvatar-image"/>
					</div>
					<div class="cwtw-Tweet">
						<p><tw:format.tweet>{tweet}</tw:format.tweet></p>
						<div class="cwtw-TweetMeta">
							<tw:link.tweet class="cwtw-TweetMeta-timestamp" tweet="{tweet}">
								<f:format.date format="d F">{tweet.created_at}</f:format.date>
							</tw:link.tweet>
						</div>
					</div>
				</div>
				</f:alias>
			</f:for>
		</f:then>
		<f:else>
			<f:translate key="tweetlist.empty" />
		</f:else>
	</f:if>
</f:section>